<footer>
    <div class="container-fluid padding">
      <div class="row">
        <div class="col-md-4">
          <img src="../assets/logo.jpg">
          <hr class="light">
          <p>+972-50-8771-290</p>
          <p>shaizur1@gmail.com</p>
          <p>6 Ein Gedi</p>
          <p>Hadera, Israel, 388300</p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5>Our Hours</h5>
          <hr class="light">
          <p>Sunday-Thursday: 10am - 4pm</p>
          <p>Friday: 9am - 12pm</p>
          <p>Saturday: Closed</p>
        </div>
        <div class="col-md-4">
          <hr class="light">
          <h5>Service Area</h5>
          <hr class="light">
          <p>City, State, 00000</p>
        </div>
        <div class="col-12">
          <hr class="light-100">
          <h5>&copy; shop&drop.com</h5>
        </div>
      </div>
    </div>
  </footer>