<p class="headl">About Me</p>
<hr class="light-100">
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-fluid" src="../../../../../assets/profile.jpg"/>
      </div>
      <div class="col-lg-8">
          <p>
            Hi,<br>
            My name is Shai.<br>
            I have a bachelor's degree in marine biology and currently work in biology field. <br>
            About two years ago, a good friend asked me to create a website in WIX, for a private business he started.<br>
            This experience, opened up the world of the web to me, and made me want to understand more about what goes on behind the scenes of the cover.<br> 
            I started learning C independently, and from there I continued to study javaScript.<br>
            This step helped me understand that this is what I want to do later in life.<br>
            I enrolled in the Full Stack D evelopment course at the Technion, to go deeper and get feedback from an experienced instructor.<br>
            I have the highest motivation to prove myself, evolve and grow along with my next job.<br>
            Hope to hear from you soon,<br>
            Shai
        </p>
      </div>
    </div>
</div>