.container1 {
  .headl {
    text-align: center;
    color: black;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .form-control {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    border-color: #d5d5d5;
  }
}
.container-fluid {
  .row {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1em;
    .card {
      box-sizing: border-box;
      border: 1px solid #f0f0f0;
      .card-img-top {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
      }
      .card-body {
        .card-title {
          font-size: 1em;
          text-align: center;
          margin-bottom: 5px;
        }
        .card-text {
          color: black;
          text-align: center;
          font-size: 1.1em;
        }
        a { 
          margin: 0 auto;
        }
      }
    }
  }
  #pagination {
    margin: 0 auto;
    text-align: center;
  }
}



