<app-carousel></app-carousel>
<div class="container1">
  <p class="headl">Shop Now</p>
  <hr class="light-100">
  <div class="form-group">
    <input [(ngModel)]="query" class="form-control" type="text" placeholder="Search For a Product" />
  </div>
</div>
<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-md-3" *ngFor="let product of products | search: query | paginate: paging">
      <div class="card">
        <img class="card-img-top" src="{{ product.image }}"/>
        <div class="card-body">
          <h6 class="card-title">{{ product.name }}</h6>
          <p class="card-text">{{ product.price }}$</p>
          <a class="btn btn-outline-dark" [routerLink]="['ProductDetails', product._id]">More Details</a>
        </div>
      </div>
    </div>
  </div>
  <div id="pagination">
    <pagination-controls (pageChange)="changPage($event)"></pagination-controls>
  </div>
</div>
