<p class="headl">Product Details</p>
<hr class="light-100">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" *ngIf="product">
      <img class="img-fluid" src="{{ product.image }}"/>
    </div>
    <div class="col-lg-6">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <div class="input-group-prepend mb-3">
        <h6>Price: {{ product.price }}$</h6>
        <h6 class="quantity">Qantity:</h6>
        <span><input class="input-group" [(ngModel)]="quantity" type="number" id="{{ product.name }}" min="1"/></span>
      </div> 
      <div class="input-group-prepend mb-3">
        <a class="btn btn-outline-dark" (click)="addToCart(product)">Add to Cart</a>  
      </div>
    </div>
  </div>
</div>
<hr class="light-100">
<div class="container-fluid padding">	
  <div class="row padding">
    <div class="col-sm-3" *ngFor="let product of randomProducts">
      <div class="card">
        <a [routerLink]="['/ProductDetails', product._id]"><img class="card-img-top" src="{{ product.image }}"/></a>
        <div class="card-body">
          <hr class="light-100">
          <h6 class="card-title">{{ product.name }}</h6>
          <p class="card-text">{{ product.price }}$</p>
        </div>
      </div>
    </div>
  </div>
</div>
